
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>设备信息查询</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/js/layui/layui.js"></script>
    <link href="~/Content/js/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="margin-bottom:20px;margin-top:10px">
        <h1 style="text-align:center;color:#f40">设备信息表</h1>
    </div>
    <div class="demoTable" style="display:inline-block;margin-left:50px">
        <span>搜索ID：</span>
        <div class="layui-inline" style="margin-left:20px;margin-right:20px">
            <input class="layui-input" name="id" id="search_id" autocomplete="off" placeholder="请输入查询ID">
        </div>
        <span style="width:100px">单元选择:</span>
        <div class="layui-inline" style="margin-left:20px;margin-right:20px">
            <select name="workSation" class="layui-select" id="select_station" style="width:200px">
                <option value="0">全部</option>
                <option value="1">回路电阻</option>
                <option value="2">耐压</option>
                <option value="3">电流校对</option>
                <option value="4">瞬时测试</option>
                <option value="5">整机测试</option>
                <option value="6">激光打标</option>
            </select>
        </div>
        <span>时间1:</span>
        <div class="layui-inline" style="margin-left:20px;margin-right:20px">
            <!-- 注意：这一层元素并不是必须的 -->
            <input type="text" class="layui-input" id="test1" placeholder="请选择时间" />
        </div>
        <span>时间2:</span>
        <div class="layui-inline" style="margin-left:20px;margin-right:20px">
            <input type="text" class="layui-input" id="test2" placeholder="请选择时间" />
        </div>
        <button class="layui-btn" data-type="reload" id="btn_search">搜索</button>
    </div>

    <table class="layui-hide" id="demo"></table>
    <script>
        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
            var laydate = layui.laydate //日期
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , carousel = layui.carousel //轮播
                , upload = layui.upload //上传
                , element = layui.element //元素操作
                , slider = layui.slider //滑块
            laydate.render({
                elem: '#test1'
            });
            laydate.render({
                elem: '#test2'
            });
            //监听Tab切换
            element.on('tab(demo)', function (data) {
                layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                    tips: 1
                });
            });

            //执行一个 table 实例
            table.render({
                elem: '#demo'
                , url: '/Device/GetDevice'
                , height: 'full-120'
                , method: 'post'
                , where: {
                    id: $('#search_id').val()
                    , station: $('#select_station option:selected').val()
                    , date1: $('#test1').val()
                    , date2: $('#test2').val()
                }
                , title: '设备信息表'
                , page: { theme: '#c00' } //开启分页
                , toolbar: true // 开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                , totalRow: false//开启合计行
                , id: 'table_alarm'
                , cols: [[ //表头
                    { type: 'checkbox', fixed: 'left' }
                    , { field: 'ID', title: 'ID', width: 80, sort: true, fixed: 'left' }
                    , { field: 'Date', title: '信息表日期', width: 160, sort: true, }
                    , { field: 'LineNo', title: '线号', width: 80 }
                    , { field: 'UnitNo', title: '单元号', sort: true, width: 80 }
                    , { field: 'Type', title: '型号', width: 80 }
                    , { field: 'TotalTime', title: '总时间', width: 160, sort: true }
                    , { field: 'StandbyTime', title: '待机时间', sort: true, width: 160 }
                    , { field: 'LoadingTime', title: '负荷时间', sort: true, width: 160 }
                    , { field: 'BreakdownTime', title: '停机时间', sort: true, width: 160 }
                    , { field: 'BreakdownTimes', title: '停机次数', sort: true, width: 100 }
                    , { field: 'AutoRunningTime', title: '自动运行时间', width: 160, sort: true }
                    , { field: 'TimeUtilizationRate', title: '时间稼动率', width: 160, sort: true }
                    , { field: 'BreakdownPer', title: '停机率', width: 100, sort: true }
                    , { field: 'MTBF', title: '平均故障时间', totalRow: true, width: 160 }
                    , { field: 'MTTR', title: '平均恢复时间', totalRow: true, width: 160 }
                    , { field: 'ShortPauseTimes', title: '小停顿次数', sort: true, width: 160 }
                    , { field: 'ShortPauseTime', title: '小停顿时间', sort: true, width: 160 }
                    , { field: 'TaktTime_Real', title: '实际节拍', sort: true, width: 100 }
                    , { field: 'TaktTime_Set', title: '理论节拍', sort: true, width: 100 }
                    , { field: 'SpeedDroop', title: '速度降低', width: 100, sort: true }
                    , { field: 'NetOperatingTime', title: '净稼动时间', width: 160, sort: true }
                    , { field: 'EfficientPer', title: '性能稼动率', width: 160, sort: true }
                    , { field: 'ProductNumber_Total', title: '投入总数', width: 100, sort: true }
                    , { field: 'ProductNumber_NG', title: '不合格数', width: 100, sort: true }
                    , { field: 'ProductPer_Pass', title: '合格率', width: 100, sort: true }
                    , { field: 'LoseTime', title: '不良品损失时间', width: 160, sort: true }
                    , { field: 'ValueTime', title: '价值时间', width: 100, sort: true }
                    , { field: 'OEE', title: '综合性能稼动率', width: 160, sort: true }
                    , { field: 'WorkGroupNo', title: '班组', width: 80, sort: true }
                    , { field: 'OperatorNo', title: '操作员', width: 80, sort: true }
                    //, { fixed: 'right', align: 'center', toolbar: '#barDemo' }
                ]]
            });
            $(function () {
                $('#btn_search').click(function () {
                    var id = $('#search_id').val();
                    var station = $('#select_station option:selected').val();
                    var date1 = $('#test1').val();
                    var date2 = $('#test2').val();
                    table.reload('table_alarm', {
                        url: '/Device/GetDevice'
                        , where: {
                            id: id
                            , station: station
                            , date1: date1
                            , date2: date2
                        }
                        , page: { curr: 1 }
                    });
                    console.log("0k");
                });
            });



        });
    </script>
</body>
</html>
