
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
    <!--引入echarts-->
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/charts/echarts.js"></script>
    <script src="~/Content/js/chalk.js"></script>
    <script src="~/Content/js/layui/layui.js"></script>
    <link href="~/Content/js/layui/css/layui.css" rel="stylesheet" />
    <script>
        //刷新整机人工台
        function RefreshChart1() {
            console.log(window.dateStart);
            console.log(window.dateEnd);
            $.ajax({
                url: "/Home/RefreshCharts",
                data: { time1: window.dateStart, time2: window.dateEnd },
                type: "Post",
                dataType: "Json",
                success: function (data) {

                    var seriesData = [];

                    var legendData = [];
                    //定义一个object引用类型对象，
                    var map = {};
                    //循环向数组中放入值
                    for (var i = 0; i < data.data.length; i++) {

                        map = {};

                        map.name = data.data[i].name;

                        map.value = data.data[i].value;

                        seriesData[i] = map;

                        legendData[i] = map.name;
                    }
                    //for (var i = 0; i < data.length; i++) {
                    //    nums.push(data[i]);
                    //}
                    myChart1.setOption({
                        title: {
                            text: "整机人工台总数:  " + data.count,
                        },
                        legend: {
                            data: legendData,
                        },
                        series: {
                            data: seriesData,
                        }
                    });

                }
            });
        }
        ///刷新生产包装
        function RefreshChart2() {
            $.ajax({
                url: "/Home/RefreshCharts2",
                data: { time1: window.dateStart, time2: window.dateEnd },
                type: "Post",
                dataType: "Json",
                success: function (data) {

                    var seriesData = [];

                    var legendData = [];
                    //定义一个object引用类型对象，
                    var map = {};
                    //循环向数组中放入值
                    for (var i = 0; i < data.data.length; i++) {

                        map = {};

                        map.name = data.data[i].name;

                        map.value = data.data[i].value;

                        seriesData[i] = map;

                        legendData[i] = map.name;
                    }
                    //for (var i = 0; i < data.length; i++) {
                    //    nums.push(data[i]);
                    //}
                    myChart2.setOption({
                        title: {
                            text: "生产包装总数:  " + data.count,
                            x: 'center'
                        },
                        legend: {
                            data: legendData,
                        },
                        series: {
                            data: seriesData,
                        }
                    });

                }
            });
        }
        //刷新报修合格率
        function RefreshChart3() {
            $.ajax({
                url: "/Home/RefreshCharts3",
                data: { time1: window.dateStart, time2: window.dateEnd },
                type: "Post",
                dataType: "Json",
                success: function (data) {
                    myChart3.setOption({
                        title: {
                            text: "报修总数:  " + data.count
                        },
                        series: {
                            data: [{
                                value: data.data.value,
                                name: data.data.name,
                            }],
                        }
                    });

                }
            });
        }
        //刷新返工总数
        function RefreshChart4() {
            $.ajax({
                url: "/Home/RefreshCharts4",
                data: { time1: window.dateStart, time2: window.dateEnd },
                type: "Post",
                dataType: "Json",
                success: function (data) {
                    myChart4.setOption({
                        series: {
                            data: [{
                                value: data.data,
                            }],
                        }
                    });

                }
            });
        }
        var t1 = window.setInterval("RefreshChart1()", 5000);
        var t2 = window.setInterval("RefreshChart2()", 5000);
        var t3 = window.setInterval("RefreshChart3()", 5000);
        var t4 = window.setInterval("RefreshChart4()", 5000);
        $(function () {
            RefreshChart1();
            RefreshChart2();
            RefreshChart3();
            RefreshChart4();
        });
    </script>
</head>
<body>
    <div style="margin-left:100px;margin-bottom:30px">
        <span style="color:#f40 ">开始时间:</span>
        <div class="layui-inline" style="margin-left:20px;margin-right:20px">
            <!-- 注意：这一层元素并不是必须的 -->
            <input type="text" class="layui-input" id="test1" placeholder="请选择时间" />
        </div>
        <span style="color:#f40">结束时间:</span>
        <div class="layui-inline" style="margin-left:20px;margin-right:20px">
            <input type="text" class="layui-input" id="test2" placeholder="请选择时间" />
        </div>
    </div>


    <div style="clear:both">
        <div id="zhengji" style="width:800px;height:400px;display:inline-block ;margin-left:20px;"></div>
        <div id="shengchan" style="width:800px;height:400px;display:inline-block;margin-left:30px;"></div>
    </div>

    <div>
        <div id="baoxiu" style="width:800px;height:400px;display:inline-block;margin-left:20px;margin-top:10px"> </div>
        <div id="fangong" style="width:800px;height:400px;display:inline-block;margin-left:30px;margin-top:10px"></div>
    </div>
    <script>
        layui.use(['laydate'], function () {
            var laydate = layui.laydate; //日期
            var dd = new Date();
            var year = dd.getFullYear();
            var month = dd.getMonth() + 1;
            var day = dd.getDate();
            var day1 = day + 1;
            window.dateStart = year + "-" + month + "-" + day;
            window.dateEnd = year + "-" + month + "-" + day1;
            laydate.render({
                elem: '#test1',

                value: window.dateStart
                , done: function (value, date, endDate) {
                    window.dateStart = value;
                }
            });
            laydate.render({
                elem: '#test2',
                value: window.dateEnd
                , done: function (value, date, endDate) {
                    window.dateEnd = value;
                }
            });
        });
        var seriesLabel = {
            normal: {
                show: true,
                textBorderColor: '#333',
                textBorderWidth: 2
            }
        };
        //整机人工台charts初始化
        var myChart1 = echarts.init(document.getElementById('zhengji'), 'chalk');
        var option1 = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            title: {
                text: "整机人工台总数",
                x: 'center'
            },
            legend: {
                orient: 'vertical',
                left: 'right',
            },
            series: [{
                name: "整机人工台数量",
                type: 'pie',
                radius: '50%',
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                        formatter: '{b} : {c}',
                    }
                },
            }]
        };
        myChart1.setOption(option1);
        //生产包装charts初始化
        var myChart2 = echarts.init(document.getElementById('shengchan'), 'chalk');
        var option2 = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            title: {
                text: "生产包装总数",
                x: 'center'
            },
            legend: {
                orient: 'vertical',
                left: 'right',
            },
            series: [{
                name: "生产包装总数",
                type: 'pie',
                radius: '50%',
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                        formatter: '{b} : {c}',
                    }
                },
            }]
        };
        myChart2.setOption(option2);
        ///报修
        var myChart3 = echarts.init(document.getElementById('baoxiu'), 'chalk');
        var option3 = {
            title: {
                
                x: 'center',
            },
            tooltip: {
                formatter: "{b}:{c}%",
            },
            toolbox: {
                feature: {
                    saveAsImage: {},
                }
            },
            series: [{
                type: 'gauge',
                detail: { formatter: '{value}%' },
                data: [{ value: 100, name: '合格率' }],
            }]
        };
        myChart3.setOption(option3);
        //返工总数
        var myChart4 = echarts.init(document.getElementById('fangong'), 'chalk');
        var option4 = {
            title: {
                text: '返工总数'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },

            xAxis: {
                data: ["返工总数"]
            },
            yAxis: {
                type: 'value',
            },
            series: [{
                label: seriesLabel,
                name: '返工总数',
                type: 'bar',

            },
            ]
        };
        myChart4.setOption(option4);
    </script>

</body>
</html>
